@font-face {
  font-family: FontAwesome;
  src: url('file:///android_asset/font/fontawesome-webfont.ttf');
}
.DialogDiv{position:absolute;z-index:99999;}
.U-guodu-box { padding:5px 15px;  background:#3c3c3f; filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9;  min-heigh:200px; border-radius:10px;}
.U-guodu-box div{ color:#fff; line-height:20px; font-size:12px; margin:0px auto; height:100%; padding-top:10%; padding-bottom:10%;}
blockquote {
overflow: hidden;
    margin: 10px 0;
    padding: 10px 10px 10px 40px;
    border: 1px solid #f5f5f5;
    border-left: 5px solid #f5f5f5;
    font-size: 0.95em;

}
pre{font-size:0.95em;line-height:1.0em;overflow:hidden}
p{
text-intent:2em;
}
body{
    background:#eee;
}

h1{
    text-indent: 0em;
    font-size:1.4em;
    back-ground: rgb(166, 166, 166);
}
h2{
    text-indent: 0em;
    font-size:1.25em;
    margin: 10px 0px;
    border: none;
    border-left: 5px solid #00a67c;
    padding: 0px 5px 0 20px;
    background: #fafafa;
    line-height: 1.3em;
    max-height:99%;
    word-break:break-all;
}

h3{
font-size:1.15em;
}

img {
    max-width: 100%;
    height: auto;
}

.part{
padding:5px;background:#FFF;
margin-top:10px;
}

#content {
    width:100%;
    background:#FFF;
    font-size:1.05em;
    line-height: 1.45em;
    color:#333
}

#share{
    width:100%;
    background:#FFF;
}
#relevant{
    width:100%;
    background:#FFF;
    margin-bottom: 0.5em;
}
li:before {
    content: "\f0da";
    font-family: FontAwesome;
    color: #4cc6a9;
    margin-right: 5px;

}
li{
list-style-type:none;
}

a{
    text-decoration: none;
    color: #4b9edd;
    line-height:1.5em;
}

#share{
margin:0px auto;
text-align:center;
}

#share .sharetitle{
text-size:0.7em;
color:#ccc;
margin-bottom:1em;
}

.social-icon-wrap {
    font-size:2em;
    margin-right: 0.8em;
}


.social-icon-wrap img{
width:1.05em;
height:1.05em;
margin: -5px auto;
}

.fa-weibo {
    color: #D52C2B;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-weixin {
    color: #2FAF16;
}
.fa-qq {
    color: #F887B0;
}

.btn {
 padding: 10px 16px;
line-height: 1.33;
    border-radius: 5px;
  border-top: 0;
    color: #fff;
    background: #f78585;
    box-shadow: 0 0 0 1px #EEE;
    border: 2px solid #fff;
    text-indent: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}
.button{
margin:0px auto;
text-align:center;
}